.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4.8rem;
  padding: 2.4rem 0;
  margin-bottom: 4.8rem;
}

.logo {
  font-size: 3rem;
  margin-right: 6.4rem;
  transform: translateY(-3.2px);
}

.navigation__links {
  justify-items: start;
  flex-grow: 1;
  display: flex;
  gap: 2.4rem;
  font-family: var(--secondary-font);
  font-weight: 500;
}

.navigation__links-item {
  list-style: none;
  display: block;
}

.link {
  text-decoration: none;
  transition: all 0.3s;
}

.link:link,
.link:visited {
  color: var(--grey);
  font-size: 1.6rem;
}

.link:hover,
.link:active {
  color: black;
  text-decoration: underline;
}
